.popup {
  position: relative;

  box-sizing: border-box;
  width: 100%;
  max-width: 430px;
  margin: auto;
  padding: 34px 36px 36px;

  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 25px rgba(0, 0, 0, .15);
}

@media (max-width: 767px) {
  .popup {
    width: calc(100% - 38px);
    padding: 27px 22px 40px;
  }
}