.element__like {
  width: 20.76px;
  height: 18.13px;
  margin-left: auto;

  cursor: pointer;
  transition: .5s opacity;

  border: none;
  outline: none;
  background-color: initial;
  background-image: url('../../../images/element__like.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.element__like:hover {
  transition: .5s opacity;

  opacity: .6;
}