.card-add__submit {
  font-size: 18px;
  line-height: 22px;

  width: 100%;
  height: 50px;
  margin-top: 18px;

  cursor: pointer;
  transition: .5s background-color;

  color: #fff;
  border: none;
  outline: none;
  background-color: #000;
}

.card-add__submit:hover {
  transition: .5s background-color;

  background-color: rgb(0, 0, 0, .8);
}

@media (max-width: 767px) {
  .card-add__submit {
    font-size: 14px;
    line-height: 17px;

    height: 46px;
    margin-top: 16px;
  }
}