.profile-info {
  display: grid;

  grid-template-columns: min-content 1fr min-content;
  row-gap: 4px;
}

@media (max-width: 767px) {
  .profile-info {
    margin: 0 auto 32px;

    grid-template-columns: max-content min-content;
    justify-items: center;
  }
}