.popup-wrapper {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  visibility: hidden;

  width: 100%;
  height: 100%;

  transition: visibility .3s, opacity .3s;

  opacity: 0;
  background-color: rgb(0, 0, 0, .9);
}