.popup__title {
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;

  margin: 0;
  padding-bottom: 54px;
}

@media (max-width: 767px) {
  .popup__title {
    font-size: 18px;
    line-height: 22px;

    padding-bottom: 76px;
  }
}