.card-add__field {
  font-size: 14px;
  line-height: 17px;

  width: 100%;
  margin-bottom: 5px;
  padding-bottom: 13px;

  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  outline: none;
}

@media (max-width: 767px) {
  .card-add__field {
    padding-bottom: 10px;
  }
}